<footer>
		<nav>
			<ul>
				<li><%= link_to "About", "#" %></li>
				<li><%= link_to "Contact", "#" %></li>
				<li><%= link_to "Team", 'http://thisgenerationmarketing.com' %></li>
				<li><%= link_to "Sites", "http://chamberds.com" %></li>
			</ul>
		</nav>
</footer>